*, *::before, *::after {
    box-sizing: border-box;
    
}

:root {
    --spacing-1: 16px;
    --spacing-2: 24px;
    --spacing-3: 32px;
    --spacing-4: 48px;
    --spacing-5: 64px;
    --projects-and-todo-details-width: 256px;
}

body {
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin: 0;
}

#projects, #pending, #completed {
    display: grid;
    grid-auto-rows: var(--spacing-4);
    align-items: center;
    flex-grow: 1;
    margin-bottom: var(--spacing-1);
}

#project-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spacing-4);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button, #todo-details #delete-todo {
    height: var(--spacing-4);
    text-align: left;
}

h1 {
    margin: 0;
}

h2 {
    margin: var(--spacing-1) 0;
}

#add-todo-input {
    flex-grow: 1;
    min-width: 0;
}

#todos {
    padding: var(--spacing-1);
    flex-grow: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
}

#add-todo {
    display: flex;
    margin-top: var(--spacing-1);
}

#todo-details {
    display: grid;
    grid-template-rows: repeat(4, var(--spacing-4)) 1fr;
    align-items: center;
    min-width: var(--projects-and-todo-details-width);
    padding: var(--spacing-1);
    flex: none;
}

nav button {
    width: 100%;
}

#pending, #completed {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#pending li, #completed li, #todo-details div {
    display: flex;
    gap: var(--spacing-1);
    align-items: center;
}

#completed {
    text-decoration: line-through;
}

#pending button, #completed button, #todo-details button {
    height: var(--spacing-2);
}

time, .project-span {
    margin-left: auto;
}

li:has(.project-span) time {
    margin-left: 0;
}

nav {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-1);
    min-width: var(--projects-and-todo-details-width);
    flex: none;
    justify-content: space-between;
}

html, body {
    height: 100%;
}

#delete-todo {
    align-self: end;
}

textarea {
    align-self: start;
    resize: none;
    overflow: hidden;
}

#todos-scroll {
    flex-grow: 1;
    overflow: auto;
    padding-right: var(--spacing-1);
}

#default {
    display: grid;
    grid-auto-rows: var(--spacing-4);
    margin-bottom: var(--spacing-1);
}

#nav-scroll {
    overflow: auto;
    padding-right: var(--spacing-1);
}

#add-project {
    margin-top: var(--spacing-1);
}