*, *::before, *::after {
    box-sizing: border-box;

}

body {
    display: grid;
    grid-template-columns: 256px 1fr 256px;
}

#projects, #pending, #completed, #todo-details {
    display: grid;
    grid-auto-rows: 48px;
    align-items: center;
}

#project-title {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
}

nav {
    display: grid;
    grid-template-rows: 1fr 48px;
    align-items: center;
    padding: 16px;
}

button {
    height: 19.5px;
    text-align: left;
}

h1 {
    margin: 0;
}

h2 {
    margin: 16px;
}